<footer class="site-footer clearfix ">
  <section>
  {{ghost_foot}}
  </section>

  <section class="copyright">
    <a href="//www.gkwang.net/" target="_blank">gkwang</a> © 2013 - <script>document.write(new Date().getFullYear())</script>
  </section>
  <section class="poweredby ">
    Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> | Theme <a href="https://github.com/flute/skywalker">SkyWalker </a>
  </section>
  <section>
      <a href="//www.miitbeian.gov.cn/" target="_blank">浙ICP备18053175号</a>
  </section>
  <div style="width:300px;margin:0 auto; padding:20px 0;">
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009560" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010802009560号</p></a>
  </div>       
</footer>
